table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

/* table animations */
table {
  transform: rotateX(0);
  transition: transform 0.5s;
}

table.active {
  transform: rotateX(90deg);
}

td, th {
  text-align: left;
  min-width: 50px;
  max-width: 150px;
  padding-bottom: 20px;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}
